/* reset */
* {
    margin: 0;
    padding: 0;
}

/* universal styling */
body {
    font-family: 'Quicksand', 'Roboto', sans-serif;
}

/* link colors */
nav li a {
    color: white;
    text-decoration: none;
}

/* nav design */
nav {
    background-color: rebeccapurple;
}

/* logo styling */
nav ul li img {
    width: 30px;
}

/* menu bar styling */
nav ul{
    list-style-type: none;
    display: flex;
    margin-right: 2%;
}

/* menu items styling */
nav ul li {
    font-size: 1.25em;
    height: 2%;
    margin: .8% 0 .8% 10%;
    padding-left: 1.2%;
    border-left: solid white 2px;
}

/* links styling */
nav ul li a {
    display: block;
    width: 80px;
}

/* nav link styling */
nav ul li a:hover {
    color: grey;
}

/* logo */
nav ul li:first-of-type {
    border: none;
    margin-right: 40%;
}

/* text paragraph styling */
main section {
    margin: 1% 0 0 1%;
}

/* projects carousel */
main ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 3%;
    padding-bottom: .8%;
    padding-left: 2%;
    overflow-x: scroll;
    scrollbar-color: turquoise white;
    scrollbar-width: thin;
}

/* project thumbnail */
main ul li {
    margin-left: 0;
    margin-right: 2%;
}

/* carousel images */
.gradient {
    background-image:
    linear-gradient(to bottom, rgba(250, 250, 250, 0.1), rgba(0, 0, 0, 0.64)),
    url("../images/project_thumb.png");
    background-size: cover;
    width: 500px;
    height: 300px;
    color: white;
    padding: 20px;
}

/* hovering over the carousel items */
.gradient:hover {
    background-image:
    linear-gradient(to bottom, rgba(250, 250, 250, 0.1), rgba(0, 0, 0, 0.4)),
    url("../images/project_thumb.png");
}

/* project titles placing */
figcaption {
    text-align: center;
}